.contact-box {
  margin-top: 7vh;
  min-height: 80vh;
}

.contact-box p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 560px) {
  .contact-box {
    margin-top: 18vh;
    min-height: 70vh;
  }
}