.big-contact-box {
  margin-top: 7vh;
  min-height: 80vh;
}

.contact-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* Ombra nera */
  margin: 20px 0;
  /* Distanza tra la sezione e altri elementi */
}

.contact-box h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

@media (min-width: 560px) {
  .big-contact-box {
    margin-top: 10vh;
    min-height: 80vh;
  }
}