/* hero*/

.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(/assets/img/hero3.png);
  background-size: cover;
  background-position: center;
  margin: none;
  background-repeat: no-repeat;
  border-radius: 0 0 20px 20px;
  margin: 0 -10px;
}

.hero-text {
  color: rgb(0, 0, 0);
  font-size: 36px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.747);
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

}


.intro {
  line-height: 1.4;
  font-weight: 500;
  font-size: 2.5rem;
}

.desc-gio {
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.8rem;
}

.hero-button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);
}



/*skills*/


.skills-section {
  padding: 50px 0;
}

.skills-title {
  text-align: center;
  color: #212121;
  font-size: 3rem;
}


.skills-row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.skills-column {
  text-align: center;
}

.skills-subtitle {
  color: #212121;
  font-size: 1.7rem;
}

.logo-skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.logo-skills {
  height: 60px;
}

.skills-text {
  font-size: 1.2rem;
  color: #212121;
}

@media (max-width: 767px) {
  .skills-row {
    flex-direction: column;
    align-items: center;
  }
}



/*progetti recenti*/
.projects-section {
  padding: 50px 0;
  background-color: #ffffff;
}

.projects-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  font-size: 2.5em;
  margin-bottom: 20px;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-title {
  font-size: 1.5em;
  color: #212121;
  margin-bottom: 10px;
}

.project-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.project-link {
  text-decoration: none;
  color: #212121;
  font-weight: bold;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    padding: 15px;
  }

  .projects-title {
    font-size: 2em;
  }
}




/* about me*/

.about-me-section {
  padding: 50px 0;
  background-color: #ffffff;
}

.about-me-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  font-size: 2em;
  margin-bottom: 20px;
}

.about-me-text {
  text-align: center;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

@media (max-width: 767px) {
  .about-me-text {
    font-size: 16px;
    padding: 0 20px;
  }
}



/* Responsive */
@media (min-width: 560px) {

  .hero-text {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }

  .hero {

    margin-top: 30px;
    border-radius: 50px;
    height: 62vh;
  }


}