body {
  margin: 0;
  font-family: montserrat, Arial, Helvetica, sans-serif;
  height: 3000px;
  padding-top: 60px;
}


header img {
  height: 39px;
  object-fit: cover;
}

header .logo {
  height: 39px;
}

header a {
  color: white;
}

.header {
  background-color: #212121;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #212121;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header ul a:hover {
  background-color: #181818;
}

.header .logo {
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s;
}

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}


.header .menu-icon .nav-icon {
  background-color: grey;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::after,
.header .menu-icon .nav-icon::before {

  background-color: grey;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
}

.header .menu-icon .nav-icon::before {
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}


.header .menu-btn:checked~.menu {
  max-height: 240px;
}


.header .menu-btn:checked~.menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}




/* footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-left .contact-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-left .contact-button:hover {
  background-color: #fff;
  color: #000;
}


.footer-right .social-icon img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer-right .social-icon img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: montserrat, Arial, Helvetica, sans-serif;
}

/* Responsive */
@media (min-width: 560px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: 240px;
  }

  .header .menu-icon {
    display: none;
  }


}