body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


header img{
  height: 39px;
  object-fit: cover;
}

header .logo{
  height: 39px;
}

.header{
  background-color: #212121;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #212121;
}

.header ul a{
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header ul a:hover{
  background-color: #181818;
}

.header .logo{
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s;
}

.header .menu-icon{
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}


.header .menu-icon .nav-icon{
  background-color: grey;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;
}

.header .menu-icon .nav-icon::after,
.header .menu-icon .nav-icon::before{

  background-color: grey;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
}

.header .menu-icon .nav-icon::before{
  top: 5px;
}

.header .menu-icon .nav-icon::after{
  top: -5px;
}

.header .menu-btn{
  display: none;
}


.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}


.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0;
}


@media (min-width: 560px) {
  .header li{
    float: left;
  }

  .header li a{
    padding: 20px 30px;
  }

  .header .menu{
    clear: none;
    float: right;
    max-height: 240px;
  }

  .header .menu-icon{
    display: none;
  }


}

.chiaro{
  float: left;
}


.header .chiaro:checked ~ .header{
  background-color: rgb(255, 255, 255)!important;
}

.header .chiaro:checked ~ .body{
  background-color: rgb(255, 255, 255)!important;
}


